{% load static %}


<html>
    <head>
        <title>Revolt Search!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="{% static 'bootstrap\js\bootstrap.min.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="/">Revolt Search</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto" id="ataskanan"></ul>
                <ul class="navbar-nav">
                    <li class="nav-item" id="tulisanlogin"><a class="nav-link" href="/retzeroooo/">Reset</a></li>
                    <li class="nav-item" id="list"><a class="nav-link" href="#listmodal" data-toggle="modal" data-target="#listmodal">Docs list</a></li>  
                    <li class="nav-item" id="daftaryuk"><a class="nav-link" href="#mymodal" data-toggle="modal" data-target="#mymodal">Add docs</a></li>
                </ul>
            </div>
        </nav>

        
        {%block searchbar%}
        {%endblock searchbar%}

        {%block qresult%}
        {%endblock qresult%}

        {%block perihal%}
        {%endblock perihal%}
        
        <footer>
            <div class="container mb-3">
                <hr />
                <a href="/perihal">Perihal</a>
            </div>
        </footer>
        
        

        <div id="mymodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Uploader</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/up/" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="input-group mb-3">
                                
                                <div class="input-group-prepend">
                                    <button class="btn btn-info" type="submit">upload</button>
                                </div>

                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="upfile" id="upfile" required>
                                  <label class="custom-file-label" for="upfile">Custom file upload</label>>
                                </div>

                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="listmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Document List</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {%if list%}
                            {% for a in list %}
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <h5 style=>{{a.title}}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {%elif result_pencarian%}
                            {% for b in result_pencarian %}
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <h5>{{b.title}}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {%else%}
                        No document uploaded
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        {% load sweetify %}
        {% sweetify %}
    </body>
</html>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>